In [3]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df['Age Range'].value_counts()

/tmp/ipykernel_7793/1353053622.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

Age Range
25 to 34 years       92669
35 to 44 years       81719
10 to 19 years       66857
45 to 54 years       48319
0 to 9 years         32692
65 to 74 years       31714
20 to 24 years       25381
75 years and over    19297
55 to 59 years       19076
60 to 64 years       17654
Name: count, dtype: int64

In [4]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

In [5]:
df['Year Patron Registered'].value_counts(normalize=False)

Year Patron Registered
2022    52173
2019    44290
2003    41034
2021    32634
2020    32010
2017    29320
2018    28622
2023    26286
2016    21719
2015    20157
2014    15965
2013    13330
2012    12681
2011    12368
2009    11391
2010    11247
2008    10102
2007     6484
2006     5254
2005     4760
2004     4463
Name: count, dtype: int64

In [6]:
df['Year Patron Registered'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

Year Patron Registered
2022    12.0%
2019    10.2%
2003     9.4%
2021     7.5%
2020     7.3%
2017     6.7%
2018     6.6%
2023     6.0%
2016     5.0%
2015     4.6%
2014     3.7%
2013     3.1%
2012     2.9%
2011     2.8%
2009     2.6%
2010     2.6%
2008     2.3%
2007     1.5%
2006     1.2%
2005     1.1%
2004     1.0%
Name: proportion, dtype: object

3013 wurden 3.1% der Kunden registriert

In [7]:
df['Age Range'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

Age Range
25 to 34 years       21.3%
35 to 44 years       18.8%
10 to 19 years       15.4%
45 to 54 years       11.1%
0 to 9 years          7.5%
65 to 74 years        7.3%
20 to 24 years        5.8%
75 years and over     4.4%
55 to 59 years        4.4%
60 to 64 years        4.1%
Name: proportion, dtype: object

21,3% der Kunden sind zwischen 25 und 34 Jahre alt

In [8]:
df['Age Range'].fillna("not specified", inplace = True)

In [9]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,not specified,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,not specified,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,not specified,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,not specified,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

Die Ersetzung von NaN mit "not specified" finde ich eine gute Möglichkeit, wenn die Daten an nicht Daten-affine Personen ausgegeben werden. Ansonsten würde ich NaN belassen.

In [20]:
u9_email = (df['Age Range'] == '0 to 9 years') & (df['Notice Preference Code'] == 'Email')
u9_email.count()

436290

In [12]:
u9_email_anzahl = u9_email.count()

In [21]:
df['Total Checkouts'].quantile(q=0.60)

19.0

In [22]:
df['Age Range'].mode()

0    25 to 34 years
Name: Age Range, dtype: object