In [2]:
import pandas as pd

In [3]:

data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

month = Ordinalscala
temp = Metrische Skala
below_zero = Nominalskala

month, below_zero => diskret
temp => stetig

In [4]:
df['month'].dtype

dtype('O')

In [5]:
df['temp'].dtype

dtype('int64')

In [6]:
df['below_zero'].dtype

dtype('bool')

In [7]:
row = ['Apr',5,False]
new_index = len(df)
df.loc[new_index] = row

In [8]:
df

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
3   Apr     5       False

In [9]:
jahre = {2020}

In [11]:
jahr = ['2020', '2020', '2020', '2020']
df.insert(loc=3, column='year', value=jahr)

In [12]:
df

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020