In [1]:
# import the library and give it a shorter name 'pd'
import pandas as pd

In [2]:
# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3],
        'temperatur': [-12, 3, 9]
})

In [3]:
# print out some descriptive statistics
df.describe()

       month  temperatur
count    3.0    3.000000
mean     2.0    0.000000
std      1.0   10.816654
min      1.0  -12.000000
25%      1.5   -4.500000
50%      2.0    3.000000
75%      2.5    6.000000
max      3.0    9.000000

Die Funktion describe liefert folgende Statistik: Durchschnitt, Standardabweichung, Minimum (minimalster Wert), Maximum (maximaler Wert) und die Prozentwerte von 25%, 50% und 75% des Bereichs zwischen dem Minimum und dem Maximum.

In [6]:
# Dataframe mit weiteren Monats- und Termperaturwerten:
df_2 = pd.DataFrame({
        'month': [1, 2, 3,4,5,6,7,8,9,10,11,12],
        'temperatur': [-12, 3, 9,15,20,21,24,27,22,15,5,-1]
})

In [7]:
df_2.describe()

           month  temperatur
count  12.000000   12.000000
mean    6.500000   12.333333
std     3.605551   11.734435
min     1.000000  -12.000000
25%     3.750000    4.500000
50%     6.500000   15.000000
75%     9.250000   21.250000
max    12.000000   27.000000