In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv("../data/Library_Usage.csv")

/tmp/ipykernel_3465/1253275998.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

In [31]:
df.set_index('Circulation Active Year')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
Circulation Active Year,,,,,,,,,,,,,
2023.0,5,Staff,53,15,NaN,b2,Bayview,Mar,z,Email,True,2003,False
2023.0,5,Staff,480,378,NaN,e9,Excelsior,Jun,z,Email,True,2003,False
2023.0,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,z,Email,True,2011,False
2023.0,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,z,Email,True,2003,False
2023.0,5,Staff,1118,1035,NaN,o7,Ortega,Jul,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022.0,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,z,Email,True,2020,NaN
2015.0,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,z,Email,True,2011,NaN
2022.0,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,z,Email,True,2022,NaN
2020.0,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,z,Email,True,2019,NaN
2023.0,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,z,Email,True,2003,NaN

In [6]:
df.loc[df['Total Checkouts'] > 2000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
13,5,Staff,2917,4489,NaN,x,Main,Jul,2023.0,z,Email,True,2003,False
22,5,Staff,2053,1923,NaN,x,Main,Jul,2023.0,z,Email,True,2003,False
179,0,Adult,4806,3981,45 to 54 years,m6,Mission,Jun,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436038,0,Adult,2047,895,NaN,x,Main,May,2021.0,z,Email,True,2003,NaN
436081,3,Senior,2750,1537,65 to 74 years,x,Main,Jul,2023.0,z,Email,True,2003,NaN
436184,5,Staff,5315,749,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN
436185,5,Staff,3883,2906,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN
436211,5,Staff,2933,3322,NaN,x,Main,Jul,2023.0,z,Email,True,2003,NaN

In [7]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [8]:
row_filter_10_younger = df['Age Range'] == '0 to 9 years'
df.loc[row_filter_10_younger]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
39,1,Juvenile,108,108,0 to 9 years,o7,Ortega,Jul,2023.0,z,Email,True,2021,False
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False
47,1,Juvenile,48,33,0 to 9 years,o7,Ortega,Jul,2021.0,z,Email,True,2018,False
60,1,Juvenile,0,0,0 to 9 years,g6,Golden Gate Valley,Jul,2022.0,z,Email,True,2022,False
86,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436151,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,NaN
436164,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,NaN
436176,1,Juvenile,7,21,0 to 9 years,x,Main,Jan,2020.0,z,Email,True,2019,NaN
436253,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN
436281,1,Juvenile,1,1,0 to 9 years,x,Main,Jul,2023.0,NaN,NaN,False,2023,NaN

Aufgabe Nr. 3 siehe Notebook "2-5_Fallstudie"

In [9]:
row_filter_Richmond = df['Home Library Definition'] == 'Richmond'
df.loc[row_filter_Richmond]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
42,10,Visitor,9,5,45 to 54 years,r3,Richmond,May,2023.0,z,Email,True,2023,False
53,0,Adult,838,382,55 to 59 years,r3,Richmond,Jun,2023.0,z,Email,True,2003,False
83,0,Adult,1,0,25 to 34 years,r3,Richmond,Jun,2023.0,z,Email,True,2017,False
118,4,Welcome,0,0,35 to 44 years,r3,Richmond,Feb,2020.0,z,Email,True,2020,False
163,10,Visitor,27,14,35 to 44 years,r3,Richmond,Apr,2023.0,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435822,16,Digital Access Card,0,0,35 to 44 years,r3,Richmond,Apr,2023.0,NaN,NaN,False,2023,NaN
435823,1,Juvenile,3,7,0 to 9 years,r3,Richmond,Jul,2023.0,NaN,NaN,False,2023,NaN
435824,4,Welcome,0,0,55 to 59 years,r3,Richmond,NaN,NaN,NaN,NaN,False,2019,NaN
435825,1,Juvenile,3,1,0 to 9 years,r3,Richmond,Apr,2023.0,NaN,NaN,False,2023,NaN
435826,3,Senior,0,0,75 years and over,r3,Richmond,NaN,NaN,NaN,NaN,False,2023,NaN

Aufgaben zu Quiz:

In [37]:
filter_aktiv_alter = ((df['Age Range'] == '60 to 64 years') & (df['Circulation Active Year'] == 2016))
df.loc[filter_aktiv_alter].count()

Patron Type Code                19
Patron Type Definition          19
Total Checkouts                 19
Total Renewals                  19
Age Range                       19
Home Library Code               19
Home Library Definition         19
Circulation Active Month        19
Circulation Active Year         19
Notice Preference Code          17
Notice Preference Definition    17
Provided Email Address          19
Year Patron Registered          19
Within San Francisco County     19
dtype: int64

In [13]:
count_NaN = df['Age Range'].isna().sum()

In [14]:
count_NaN

912

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
15813,0,Adult,21,5,60 to 64 years,x,Main,Apr,2016.0,z,Email,True,2003,False
48288,0,Adult,13,0,60 to 64 years,x,Main,Feb,2016.0,z,Email,True,2009,False
56716,0,Adult,81,2,60 to 64 years,c2,Chinatown,Jun,2016.0,NaN,NaN,False,2007,False
130257,0,Adult,70,1,60 to 64 years,n6,North Beach,Feb,2016.0,z,Email,True,2009,False
166476,0,Adult,53,53,60 to 64 years,e7,Eureka Valley,Aug,2016.0,z,Email,True,2004,False
176068,0,Adult,9,8,60 to 64 years,x,Main,Sep,2016.0,z,Email,True,2015,False
235929,0,Adult,2,0,60 to 64 years,r3,Richmond,Feb,2016.0,z,Email,True,2016,False
254518,0,Adult,80,4,60 to 64 years,c2,Chinatown,Oct,2016.0,z,Email,True,2005,False
273630,0,Adult,431,66,60 to 64 years,o7,Ortega,Dec,2016.0,z,Email,True,2003,False
291507,0,Adult,221,39,60 to 64 years,x,Main,Oct,2016.0,NaN,NaN,False,2003,False
297673,0,Adult,2408,2331,60 to 64 years,m2,Marina,Jun,2016.0,z,Email,True,2003,False
302637,0,Adult,12,7,60 to 64 years,b2,Bayview,Dec,2016.0,z,Email,True,2011,False
303489,0,Adult,1,2,60 to 64 years,b2,Bayview,Dec,2016.0,z,Email,True,2006,False
308988,0,Adult,4,0,60 to 64 years,m6,Mission,Jun,2016.0,z,Email,True,2013,False
383887,0,Adult,22,18,60 to 64 years,m8,Mission Bay,May,2016.0,z,Email,True,2012,False
392759,0,Adult,2,0,60 to 64 years,x,Main,Jun,2016.0,z,Email,True,2015,False
416307,0,Adult,11,24,60 to 64 years,x,Main,May,2016.0,z,Email,True,2012,False
422794,0,Adult,15,3,60 to 64 years,p1,Park,Aug,2016.0,z,Email,True,2003,False
428874,0,Adult,1,0,60 to 64 years,x,Main,Apr,2016.0,z,Email,True,2016,False