In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/Library_Usage_Small.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True

In [3]:
json_datei = df.to_json(orient='records')

In [4]:
# JSON-Datei speichern
with open('../data/Library_Usage_Small.json', 'w') as f:
    f.write(json_datei)

In [5]:
html_datei = df.to_html()

In [6]:
html_datei

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Patron Type Code</th>\n      <th>Patron Type Definition</th>\n      <th>Total Checkouts</th>\n      <th>Total Renewals</th>\n      <th>Age Range</th>\n      <th>Home Library Code</th>\n      <th>Home Library Definition</th>\n      <th>Circulation Active Month</th>\n      <th>Circulation Active Year</th>\n      <th>Notice Preference Code</th>\n      <th>Notice Preference Definition</th>\n      <th>Provided Email Address</th>\n      <th>Year Patron Registered</th>\n      <th>Within San Francisco County</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>Juvenile</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0 to 9 years</td>\n      <td>r3</td>\n      <td>Richmond</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2022</td>\n      <td>True</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>Teen</td>\n      <td>0</td>\n      <td>0</td>\n      <td>10 to 19 years</td>\n      <td>x</td>\n      <td>Main</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2022</td>\n      <td>True</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>0</td>\n      <td>Adult</td>\n      <td>0</td>\n      <td>0</td>\n      <td>35 to 44 years</td>\n      <td>m4</td>\n      <td>Merced</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2019</td>\n      <td>True</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>2</td>\n      <td>Teen</td>\n      <td>0</td>\n      <td>0</td>\n      <td>10 to 19 years</td>\n      <td>x</td>\n      <td>Main</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2021</td>\n      <td>True</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>2</td>\n      <td>Teen</td>\n      <td>0</td>\n      <td>0</td>\n      <td>10 to 19 years</td>\n      <td>b2</td>\n      <td>Bayview</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2013</td>\n      <td>True</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>2</td>\n      <td>Teen</td>\n      <td>0</td>\n      <td>0</td>\n      <td>10 to 19 years</td>\n      <td>x</td>\n      <td>Main</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2021</td>\n      <td>False</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>2</td>\n      <td>Teen</td>\n      <td>0</td>\n      <td>0</td>\n      <td>10 to 19 years</td>\n      <td>x</td>\n      <td>Main</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2021</td>\n      <td>False</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>2</td>\n      <td>Teen</td>\n      <td>0</td>\n      <td>0</td>\n      <td>10 to 19 years</td>\n      <td>x</td>\n      <td>Main</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2021</td>\n      <td>True</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>0</td>\n      <td>Adult</td>\n      <td>0</td>\n      <td>0</td>\n      <td>35 to 44 years</td>\n      <td>x</td>\n      <td>Main</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2019</td>\n      <td>False</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>2</td>\n      <td>Teen</td>\n      <td>0</td>\n      <td>0</td>\n      <td>10 to 19 years</td>\n      <td>x</td>\n      <td>Main</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>z</td>\n      <td>Email</td>\n      <td>True</td>\n      <td>2021</td>\n      <td>False</td>\n    </tr>\n  </tbody>\n</table>'

In [7]:
# HTML-Datei speichern
with open('../data/Library_Usage_Small.html', 'w') as f:
    f.write(html_datei)

In [8]:
df_html = pd.read_html("../data/Library_Usage_Small.html")

In [9]:
df_html

[   Unnamed: 0  Patron Type Code Patron Type Definition  Total Checkouts  \
 0           0                 1               Juvenile                0
 1           1                 2                   Teen                0
 2           2                 0                  Adult                0
 3           3                 2                   Teen                0
 4           4                 2                   Teen                0
 5           5                 2                   Teen                0
 6           6                 2                   Teen                0
 7           7                 2                   Teen                0
 8           8                 0                  Adult                0
 9           9                 2                   Teen                0

    Total Renewals       Age Range Home Library Code Home Library Definition  \
 0               0    0 to 9 years                r3                Richmond
 1               0  10 to 19 years                 x                    Main
 2               0  35 to 44 years                m4                  Merced
 3               0  10 to 19 years                 x                    Main
 4               0  10 to 19 years                b2                 Bayview
 5               0  10 to 19 years                 x                    Main
 6               0  10 to 19 years                 x                    Main
 7               0  10 to 19 years                 x                    Main
 8               0  35 to 44 years                 x                    Main
 9               0  10 to 19 years                 x                    Main

    Circulation Active Month  Circulation Active Year Notice Preference Code  \
 0                       NaN                      NaN                      z
 1                       NaN                      NaN                      z
 2                       NaN                      NaN                      z
 3                       NaN                      NaN                      z
 4                       NaN                      NaN                      z
 5                       NaN                      NaN                      z
 6                       NaN                      NaN                      z
 7                       NaN                      NaN                      z
 8                       NaN                      NaN                      z
 9                       NaN                      NaN                      z

   Notice Preference Definition  Provided Email Address  \
 0                        Email                    True
 1                        Email                    True
 2                        Email                    True
 3                        Email                    True
 4                        Email                    True
 5                        Email                    True
 6                        Email                    True
 7                        Email                    True
 8                        Email                    True
 9                        Email                    True

    Year Patron Registered  Within San Francisco County
 0                    2022                         True
 1                    2022                         True
 2                    2019                         True
 3                    2021                         True
 4                    2013                         True
 5                    2021                        False
 6                    2021                        False
 7                    2021                         True
 8                    2019                        False
 9                    2021                        False  ]

In [10]:
df_xlsx = df.to_excel('output.xlsx')

In [11]:
# XLSX-Datei speichern
with open('../data/Library_Usage_Small.xlsx', 'w') as f:
    f.write("df_xlsx")

In [12]:
df_csv2 = df.to_csv()

In [13]:
with open('../data/Library_Usage_Small2.csv', 'w') as f:
    f.write(df_csv2)